# Ignore all files
*
*.png
*.jpg
*.JPG
*.jpeg
*.JPEG
*.PNG

# But allow specific extensions/files (the "!" means "don't ignore")
!*.py
!.gitignore
!*.js
!*.css
!*.html
!requirements.txt
!Dockerfile
!.dockerignore